#light footer {
  background: linear-gradient(135deg, rgba(255, 232, 206, 1) 0%, rgba(255, 172, 78, 1) 10%, rgba(255, 172, 78, 1) 75%, rgba(255, 232, 206, 1) 110%);
}

#dark footer {
  border-top: 1px solid grey;
}

footer {
  padding-left: 20%;
  height: 10vh;
  padding: 0 15% 0 15%;
  color: white;
  display: flex;
  align-items: center;
}